*{
    padding: 0;
    margin:0;
    font-family: sans-serif;
}
body{
    background-color: #333;

}
.container{
    padding: 20px;
    margin: auto;
    align-items: center;
display: grid;
grid-template-columns: 5fr 3fr;
width: 80vw;
background: #222;
}
.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
}
.box img,canvas{
    max-width: 45vw;

}
.upload input{
    display: none;
}
.upload label{
    border: 3px dashed #fff;
    padding: 8px 20px;
    cursor: pointer;
    color: #fff;
}
.filters {

}
.filters ul ,.filters li {
    display: flex;
    flex-direction: column;
    gap: 25px;
    direction: rtl;
}
.filters ul li label{
    color: #fff;
}
.filters ul li:last-child{
flex-direction: row;
justify-content: space-around;
}
.filters ul li:last-child a, span{
color: #fff;
cursor: pointer;
background-color: green;
padding: 10px 20px;
}
@media (max-width:650px){
    .container{
        gap: 50px;
        grid-template-columns: 1fr;
    }
    .box img,canvas{
        max-width: 80vw;
    }
}